# Ignore bundler config
/.bundle

# Ignore all environment files
/.env*
!/.env.example

# Ignore master key
/config/master.key
/config/credentials/*.key

# Ignore log files
/log/*
!/log/.keep

# Ignore temp files
/tmp/*
!/tmp/.keep
!/tmp/pids/
/tmp/pids/*
!/tmp/pids/.keep

# Ignore storage
/storage/*
!/storage/.keep

# Ignore node modules (just in case)
/node_modules

# macOS
.DS_Store
